@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContent.Components;
@using Simplisity;
@using RazorEngine.Text;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketPortal/App_LocalResources/")

@{
    var articleData = (ArticleLimpet)Model.List.First();
    var systemData = new SystemLimpet("rocketcontent");
    var appThemeSystem = new AppThemeSystemLimpet(systemData.SystemKey);
    var info = articleData.Info;
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
    var sessionParams = Model.SessionParamsData;
}

@RenderLanguageSelector("article_admindetail", "{\"moduleref\":\"" + articleData.ModuleRef + "\"}", appThemeSystem, Model)

<div id="a-articledata" class=" w3-padding">

    <div class="w3-bar">
        <span class="w3-button simplisity_click" s-cmd="article_adminlist">@ButtonIcon(ButtonTypes.back)</span>
        <span class="w3-padding w3-button w3-theme-action simplisity_click" s-cmd="article_adminsave" s-post="#a-articledata" s-fields='{"moduleref":"@(articleData.ModuleRef)"}'>@ButtonText(ButtonTypes.save)</span>
        <span class="w3-padding w3-button w3-red w3-right simplisity_confirmclick"  s-cmd="article_admindelete" s-confirm="@ResourceKey("DNNrocket.delete") ?"  s-fields='{"moduleref":"@(articleData.ModuleRef)"}' >@ButtonText(ButtonTypes.delete)</span>
    </div>

    <div class="w3-row w3-padding">
        <div class="w3-quarter w3-padding">
            <label>@ResourceKey("DNNrocket.name")</label>&nbsp;@EditFlag(sessionParams)
            @TextBox(info, "genxml/textbox/name", " class='w3-input w3-border ' ", @remoteModule.AppThemeFolder)            
        </div>
        <div class="w3-quarter w3-padding">
            <label>@ResourceKey("DNNrocket.ref")</label>
            <div class="w3-margin-bottom w3-padding w3-light-grey w3-border" style="width:100%;word-wrap:break-word;">@(articleData.ModuleRef)</div>
        </div>
        <div class="w3-quarter w3-padding">
            <label>AppTheme</label>
            <div class="w3-margin-bottom w3-padding w3-light-grey w3-border" style="width:100%;word-wrap:break-word;">@(appTheme.Name)</div>
        </div>
    </div>

     @RenderTemplate("AdminDetail.cshtml", appTheme, Model)

</div>

<div class="w3-row w3-tiny w3-padding">
    <span>Id: @articleData.ArticleId</span>
</div>

<script>
    $(document).ready(function () {
        $('[s-cmd=remote_editsave]').hide(); // hide the remote_editsave button.
    });
</script>


