@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContent.Components;
@using Simplisity;
@using RazorEngine.Text;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketPortal/App_LocalResources/")

@{
    var articleList = (ArticleLimpetList)Model.List.First();
    var systemData = new SystemLimpet("rocketcontent");
    var appThemeSystem = new AppThemeSystemLimpet(systemData.SystemKey);
}

@RenderLanguageSelector("article_adminlist", "", appThemeSystem, Model)

<div id="artclelist" class=" w3-padding">

    <div class="w3-bar searchdata">

        @HiddenField(new SimplisityInfo(), "genxml/hidden/page", " class='simplisity_sessionfield' s-update='ignore'", "1")

        <button type="button" class="w3-button w3-theme-action simplisity_click" s-cmd="article_selectapptheme">@ButtonText(ButtonTypes.add)</button>
        <button class="w3-button simplisity_click" title="Clear All Cache" s-cmd="dashboard_clearallcache" s-post="" s-reload="true">@ButtonIcon(ButtonTypes.refresh)</button>

        <div class="w3-right w3-hide-small w3-margin-left" style="width: 100px">
            @DropDownList(new SimplisityInfo(), "genxml/hidden/pagesize", "8,16,32,64,128", "8,16,32,64,128", "class='w3-input w3-border w3-light-grey simplisity_sessionfield simplisity_change ' s-sessionfield='#searchtext,#pagesize,#orderbyref,#page' s-cmd='portal_list' s-post='.searchdata' s-fields='{\"track\":\"true\"}'  title='" + @ResourceKey("DNNrocket.pagesize") + "'", "32")
        </div>

        <div class="w3-right " style=''>
            <div class="w3-bar">
                @TextBox(new SimplisityInfo(), "genxml/textbox/searchtext", "class='w3-bar-item w3-input w3-border w3-light-grey simplisity_sessionfield actionentrykey' autocomplete='off' ")
                <span class="w3-bar-item w3-button w3-theme-d3 clearsearch " style="display:none;" s-fields=''>@ButtonText(ButtonTypes.cancelsearch)</span>
                <span class="w3-bar-item w3-button w3-theme langchangesave simplisity_click dosearch" s-sessionfield='#searchtext,#pagesize,#orderbyref,#page' s-cmd="article_adminlist" s-post=".searchdata">@ButtonText(ButtonTypes.search)</span>
            </div>
        </div>
    </div>

    <div id="datalist" class="w3-container w3-margin-top">

        <table class="w3-table w3-bordered w3-hoverable">
            <thead>
                <tr>
                    <th>@ResourceKey("RP.name")</th>
                    <th>Ref</th>
                    <th>AppTheme</th>
                </tr>
            </thead>
            @foreach (ArticleLimpet artcileData in articleList.GetArticleList())
            {
                <tr class="simplisity_click" s-cmd="article_admindetail" s-fields='{"dataref":"@artcileData.DataRef"}' style="cursor:pointer;">
                    <td><b>@artcileData.Name</b></td>
                    <td>@artcileData.DataRef</td>
                    <td>@artcileData.AdminAppThemeFolder.Replace("rocketcontent.","")</td>
                </tr>
            }
        </table>

    </div>
</div>


<script>
    $(document).ready(function () {
        // turn off the reload flag
        simplisity_setParamField("reload", false)

        $('.clearsearch ').unbind("click");
        $('.clearsearch ').click(function () {
            $('#searchtext').val('');
            $('.dosearch').trigger('click');
            return false; // prevent the button click from happening
        });

        if ($('#searchtext').val() !== '') {
            $('.dosearch').hide();
            $('.clearsearch').show();
        }

        $('.actionentrykey').unbind('keypress');
        $('.actionentrykey').on('keypress', function (e) {
            if (e.keyCode == 13) {
                $('.dosearch').trigger('click');
                return false; // prevent the button click from happening
            }
        });

        $('.actionentrykey').focus();

        // move cursor to end of line
        var tmpStr = $('.actionentrykey').val();
        $('.actionentrykey').val('');
        $('.actionentrykey').val(tmpStr);

        //  change color of panel, s we show it has a selection
        if (tmpStr != '') {
            $('#searchtext').addClass('w3-border-red');
        }

    });

</script>


