@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContent.Components;
@using Simplisity;
@using RazorEngine.Text;
@using Rocket.AppThemes.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/")

@{

    // NOTE: All field xpath should be "genxml/remote/*"

    var sessionParams = Model.SessionParamsData;
    var appThemeList = (AppThemeDataList)Model.GetDataObject("appthemedatalist");
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var appThemeView = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var info = new SimplisityInfo(moduleData.Record);
    var projectAppThemeData = new AppThemeProjectLimpet();    
}

<script type="text/javascript" src="@(portalData.EngineUrlWithProtocol)/DesktopModules/DNNrocket/Simplisity/js/simplisity.js"></script>
<link rel="stylesheet" href="@(portalData.EngineUrlWithProtocol)/DesktopModules/DNNrocket/css/w3.css">

<div id="a-datasection" class="w3-container w3-margin w3-padding">

    <div class="w3-row">

        <div class="w3-row w3-padding">

            @if (moduleData.ProjectName == "")
            {
                foreach (var projectInfo in projectAppThemeData.List)
                {
                    <div class="w3-button simplisity_click" s-cmd="rocketcontent_selectappthemeproject" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","projectname":"@projectInfo.GetXmlProperty("genxml/textbox/name")"}'>
                        @projectInfo.GetXmlProperty("genxml/textbox/name")
                    </div>
                }
            }
            else
            {
                <h1>TEST - moduleData.AppThemeViewFolder: @moduleData.AppThemeViewFolder</h1>
                if (moduleData.AppThemeAdminFolder == "" || moduleData.AppThemeViewFolder == "")
                {
                    var cmd = "rocketcontent_selectapptheme";
                    if (moduleData.AppThemeAdminFolder != "")
                    {
                        cmd = "rocketcontent_selectappthemeview";
                    }
                    foreach (var appTheme in appThemeList.List)
                    {
                        <div class="w3-button simplisity_click" s-cmd="@cmd" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","appthemefolder":"@appTheme.AppThemeFolder"}'>
                            @appTheme.Name
                        </div>
                    }
                }
                else
                {
                    if (moduleData.AppThemeAdminVersion == "" || moduleData.AppThemeViewVersion == "")
                    {
                        var cmd = "rocketcontent_selectappthemeversion";
                        if (moduleData.AppThemeAdminVersion != "")
                        {
                            cmd = "rocketcontent_selectappthemeversionview";
                        }
                        foreach (var appThemeV in appThemeView.VersionList)
                        {
                            <div class="w3-button simplisity_click" s-cmd="@cmd" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","appthemefolderversion":"@appThemeV"}'>
                                @appThemeV
                            </div>
                        }
                    }
                    else
                    {
                        <div class="w3-row w3-padding">
                            <div class="w3-quarter">
                                @CheckBox(info,"genxml/settings/disablecache", ResourceKey("DNNrocket.disablecache").ToString(),"class='w3-check'")
                            </div>
                            <div class="w3-quarter">
                                @CheckBox(info,"genxml/settings/injectjquery", ResourceKey("DNNrocket.injectjquery").ToString(),"class='w3-check'")
                            </div>
                            <div class="w3-quarter">
                                @CheckBox(info,"genxml/settings/disableheader", ResourceKey("DNNrocket.disableheader").ToString(),"class='w3-check'")
                            </div>
                        </div>

                        <div class="w3-xlarge">AppThemes</div>
                        <div class="w3-row w3-padding">
                            <div class="w3-half">
                                Admin: <span>@appThemeAdmin.Name</span>
                            </div>
                            <div class="w3-quarter">
                                <div class="w3-button  w3-small w3-blue simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.edit")?" s-cmd="rocketcontent_resetapptheme" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId"}'>
                                    @ResourceKey("DNNrocket.edit")
                                </div>
                            </div>
                        </div>
                        <div class="w3-row w3-padding">
                            <div class="w3-half">
                                View: <span>@appThemeView.Name</span>
                            </div>
                            <div class="w3-quarter">
                                <div class="w3-button w3-small w3-blue w3-round simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.edit")?" s-cmd="rocketcontent_resetappthemeview" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId"}'>
                                    @ResourceKey("DNNrocket.edit")
                                </div>
                            </div>
                        </div>

                        <h1>BOO</h1>
                        @TextBox(info, "genxml/settings/test"," class='w3-input w3-border'", "")
                    }

                }
            }


        </div>

    </div>

</div>

<div class="w3-row w3-padding w3-tiny">
    <span>ModuleRef: @moduleData.ModuleRef</span>
</div>

@if (moduleData.AppThemeAdminFolder != "")
{
    <text>
        <!-- create element to update settings via API when the DNN update is clicked. -->
        <span id="postsettings" class="w3-hide" s-cmd="rocketcontent_savesettings" s-post="#a-datasection" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId"}'></span>
    </text>
}



<script>
    $(document).ready(function () {
        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketcontent', debug: false });

        @if (moduleData.AppThemeAdminFolder != "")
        {
            <text>
            $('a[id*="_cmdUpdate"]').off("click");
            $('a[id*="_cmdUpdate"]').click(function () {
                simplisity_callserver($('#postsettings'));
            });
            </text>
        }

    });
</script>


