@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContent.Components;
@using Simplisity;
@using RazorEngine.Text;
@using Rocket.AppThemes.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/")

@{

    // NOTE: All field xpath should be "genxml/remote/*"

    var sessionParams = Model.SessionParamsData;
    var appThemeList = (AppThemeDataList)Model.GetDataObject("appthemedatalist");
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var appThemeData = (AppThemeLimpet)Model.GetDataObject("apptheme");
    var remoteData = (RemoteModule)Model.GetDataObject("remotemodule");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var info = new SimplisityInfo(remoteData.Record);
    var projectAppThemeData = new AppThemeProjectLimpet();    
}

<script type="text/javascript" src="@(portalData.EngineUrlWithProtocol)/DesktopModules/DNNrocket/Simplisity/js/simplisity.js"></script>
<link rel="stylesheet" href="@(portalData.EngineUrlWithProtocol)/DesktopModules/DNNrocket/css/w3.css">

<div id="a-datasection" class="w3-container w3-margin w3-padding">

    <div class="w3-quarter w3-hide-small">&nbsp;</div>

    <div class="w3-half">

        <div class="w3-row w3-padding">

            @if (articleData.ProjectName == "")
            {
                foreach (var projectInfo in projectAppThemeData.List)
                {
                    <div class="w3-button simplisity_click" s-cmd="remote_selectappthemeproject" s-fields='{"moduleref":"@remoteData.ModuleRef","moduleid":"@remoteData.ModuleId","projectname":"@projectInfo.GetXmlProperty("genxml/textbox/name")"}'>
                        @projectInfo.GetXmlProperty("genxml/textbox/name")
                    </div>
                }
            }
            else
            {
                if (articleData.AppThemeFolder == "")
                {
                    foreach (var appTheme in appThemeList.List)
                    {
                        <div class="w3-button simplisity_click" s-cmd="remote_selectapptheme" s-fields='{"moduleref":"@remoteData.ModuleRef","moduleid":"@remoteData.ModuleId","appthemefolder":"@appTheme.AppThemeFolder"}'>
                            @appTheme.Name
                        </div>
                    }
                }
                else
                {
                    if (articleData.AppThemeFolderVersion == "")
                    {
                        foreach (var appThemeV in appThemeData.VersionList)
                        {
                            <div class="w3-button simplisity_click" s-cmd="remote_selectappthemeversion" s-fields='{"moduleref":"@remoteData.ModuleRef","moduleid":"@remoteData.ModuleId","appthemefolderversion":"@appThemeV"}'>
                                @appThemeV
                            </div>
                        }
                    }
                    else
                    {
                        <div class="w3-button w3-red simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete")?" s-cmd="remote_resetapptheme" s-fields='{"moduleref":"@remoteData.ModuleRef","moduleid":"@remoteData.ModuleId"}'>
                            @ResourceKey("DNNrocket.reset")
                        </div>
                        <h1>BOO</h1>
                    }

                }
            }


        </div>

    </div>

    <div class="w3-quarter w3-hide-small">&nbsp;</div>

</div>

<div class="w3-row w3-padding w3-tiny">
    <span>ModuleRef: @remoteData.ModuleRef</span>
</div>

@if (articleData.AppThemeFolder != "")
{
    <text>
        <!-- create element to update settings via API when the DNN update is clicked. -->
        <span class="w3-hide" s-cmd="remote_savesettings" s-post="#a-datasection" s-fields='{"moduleref":"@remoteData.ModuleRef","moduleid":"@remoteData.ModuleId"}'></span>
    </text>
}



<script>
    $(document).ready(function () {
        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketcontent', debug: false });

        @if (articleData.AppThemeFolder != "")
        {
            <text>
            $('a[id*="_cmdUpdate"]').click(function () {
                simplisity_callserver($('#postsettings'));
            });
            </text>
        }

    });
</script>


