@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContent.Components;
@using Simplisity;
@using RazorEngine.Text;
@using Rocket.AppThemes.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/")

@{
    var appThemeList = (AppThemeDataList)Model.List.First();
}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<div id="a-selectapptheme" class="w3-container w3-margin w3-padding">

    <div class="w3-half w3-padding">
        <div class="w3-large">@ResourceKey("RC.apptheme")</div>
        <select id="apptheme" s-xpath="genxml/select/apptheme" s-update="save" class="w3-input  ">
            <option value="" versionfolder=""></option>
            @foreach (var appTheme in appThemeList.List)
            {
                <option value="@appTheme.AppThemeFolder" versionfolder="@appTheme.AppVersionFolder">@appTheme.Name</option>
            }
        </select>        
    </div>
    <div class="w3-half w3-padding">
        <div class="w3-large">@ResourceKey("RC.viewapptheme")</div>
        <select id="appthemeview" s-xpath="genxml/select/appthemeview" s-update="save" class="w3-input ">
            <option value="" versionfolder=""></option>
            @foreach (var appTheme in appThemeList.List)
            {
                <option value="@appTheme.AppThemeFolder"  versionfolder="@appTheme.AppVersionFolder">@appTheme.Name</option>
            }
        </select>
    </div>

</div>

<div class="w3-row w3-padding w3-center">
    <div class="w3-button w3-green simplisity_click" s-cmd="remote_settingssave" s-post="#a-selectapptheme" s-fields='{"moduleid":"@Model.ModuleId"}'>@ButtonText(ButtonTypes.save)</div>
</div>


<script>

    $(document).ready(function () {
        $('#apptheme').select2();
        $('#appthemeview').select2();
    });
</script>


