@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContent.Components;
@using Simplisity;
@using RazorEngine.Text;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketPortal/App_LocalResources/")

@{
    var articleData = (ArticleLimpet)Model.List.First();
    var systemData = new SystemLimpet("rocketcontent");
    var appThemeSystem = new AppThemeSystemLimpet(systemData.SystemKey);
    var info = articleData.Info;
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
    var sessionParams = Model.SessionParamsData;
}

@RenderRemoteLanguageSelector("remote_edit", "{\"dataref\":\"" + articleData.DataRef + "\"}", appThemeSystem, Model)

<div id="a-articledata" class=" w3-padding">

    <div class="w3-row">
        <div class="w3-third">
            <span class="w3-padding w3-button w3-teal simplisity_click" s-cmd="remote_editsave" s-post="#a-articledata" s-fields='{"dataref":"@(articleData.DataRef)"}'>@ButtonText(ButtonTypes.save)</span>
        </div>
        <div class="w3-third">
            @TextBox(info, "genxml/textbox/name", " class='w3-input w3-border w3-hide ' ", @remoteModule.AppThemeFolder)
            &nbsp;
        </div>
        <div class="w3-third">
            <span class="w3-right w3-padding w3-light-grey w3-border">@articleData.DataRef</span>
        </div>
    </div>

    @RenderTemplate("AdminDetail.cshtml", appTheme, Model)

</div>

<div class="w3-row w3-tiny w3-padding">
    <span>Id: @articleData.ArticleId</span>
    <span class="w3-right">AppTheme: @remoteModule.AppThemeFolder</span>
</div>

