@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContent.Components;
@using Simplisity;
@using RazorEngine.Text;
@using Rocket.AppThemes.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/")

@{
    // NOTE: All field xpath should be "genxml/remote/*"
    var sessionParams = Model.SessionParamsData;
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var appThemeData = (AppThemeLimpet)Model.GetDataObject("apptheme");
    var remoteData = (RemoteModule)Model.GetDataObject("remotemodule");
    var projectAppThemeData = (AppThemeProjectLimpet)Model.GetDataObject("appthemeprojects");
    var info = new SimplisityInfo(remoteData.Record);
}

<div id="a-selectapptheme" class="w3-container w3-margin w3-padding">

    <div class="w3-quarter w3-hide-small">&nbsp;</div>

    <div class="w3-half">

        <div class="w3-row w3-padding">
            <div class="w3-large">ModuleRef</div>
            <div class="w3-light-grey w3-border w3-input">@sessionParams.ModuleRef</div>
        </div>

        @foreach (var projectInfo in projectAppThemeData.List)
        {
            <div class="w3-button simplisity_click" s-cmd="remote_selectappthemeproject" s-fields='{"moduleref":"@sessionParams.ModuleRef","moduleid","@sessionParams.ModuleId"}'>
                @projectInfo.GetXmlProperty("genxml/textbox/name")
            </div>
        }

    </div>

    <div class="w3-quarter w3-hide-small">&nbsp;</div>

</div>


<script>
    $(document).ready(function () {

    });
</script>


