@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContent.Components;
@using Simplisity;
@using RazorEngine.Text;
@using Rocket.AppThemes.Components;
@using RocketPortal.Components;
@using System.Web;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/")

@{
    var sessionParams = Model.SessionParamsData;
    var appThemeList = (AppThemeDataList)Model.GetDataObject("appthemedatalist");
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var appThemeView = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var info = new SimplisityInfo(moduleData.Record);
    var projectAppThemeData = new AppThemeProjectLimpet();
}
<style>
    .small-button {
    border: none;
    display: inline-block;
    padding: 4px 8px;
    vertical-align: top;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

</style>

<div id="a-editbuttons-@(moduleData.ModuleId)" class=" " style="display: none; position: absolute; top: 0px; left:0px;">
    <div class="w3-container">
        <span class="small-button w3-round w3-theme-action" title="@ResourceKey("DNNrocket.edit")">
            <a href="@sessionParams.Get("editurl")" class="">
                <span class="material-icons  w3-small">
                    edit
                </span>
            </a>
        </span>
        @if (UserUtils.IsAdministrator())
        {

            <span class="small-button w3-round w3-pale-green" title="@ResourceKey("RC.clearcache")">
                <a href="?cmd=clearcache" class="">
                    <span class="material-icons  w3-small">
                        sync
                    </span>
                </a>
            </span>
            <span class="small-button w3-round w3-pale-green" title="@ResourceKey("RC.editapptheme")">
                <a href="/SysAdmin/rocketapptheme?moduleref=@(moduleData.ModuleRef)&appthemefolder=@(moduleData.AppThemeAdminFolder)&appversionfolder=@(moduleData.AppThemeAdminVersion)&project=@(moduleData.ProjectName)&rtn=@sessionParams.Get("returnurl")" class="">
                    <span class="material-icons  w3-small">
                        movie_edit
                    </span>
                </a>
            </span>

            var editappthemeview = false;
            if (moduleData.HasAppThemeView)
            {
                if (moduleData.AppThemeAdminFolder != moduleData.AppThemeViewFolder || moduleData.AppThemeAdminVersion != moduleData.AppThemeViewVersion)
                {
                    editappthemeview = true;
                }
            }
            if (editappthemeview)
            {
                <span class="small-button w3-round w3-pale-green" title="@ResourceKey("RC.editappthemeview")">
                    <a href="/SysAdmin/rocketapptheme?moduleref=@(moduleData.ModuleRef)&appthemefolder=@(moduleData.AppThemeViewFolder)&appversionfolder=@(moduleData.AppThemeViewVersion)&project=@(moduleData.ProjectName)&rtn=@sessionParams.Get("returnurl")" class="">
                        <span class="material-icons  w3-small">
                            movie
                        </span>
                    </a>
                </span>
            }
        }


    </div>
</div>

<script>
    $(".DnnModule-@(moduleData.ModuleId)").hover(function(){
          $("#a-editbuttons-@(moduleData.ModuleId)").show();
      }, function(){
          $("#a-editbuttons-@(moduleData.ModuleId)").hide();
    });
</script>
